@font-face {
    font-family: 'cedora';
    src: url(fonts/Cedora-RegularStd.otf);
}

*{
    margin: 0;
    padding: 0;
}

header {    
    font-family: 'cedora';
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #20242D;
    height: 70px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* TÍTULO */
header .logo h1 a{
    color: #01EEFF;
    text-decoration: none;
}


/* BLOCO DOS TÓPICOS */
header .menu{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}


/* TÓPICOS */
header .menu a{    
    text-decoration: none;
    color: white;
    font-size: 18px;    
    border-bottom: 2px solid transparent;
}

header .menu a:hover{    
    border-bottom: 2px solid #01EEFF;
    padding-bottom: 4px;
    transition: border-bottom 0.9s ease; /* Transição de cor com duração de 0.3 segundos e função de temporização ease */
}

/* BOTÃO */
header .menu .botao{    
    color: #20242D;
    background-color: #01EEFF;
    padding: 4px 20px 4px 20px;
    border-radius: 20px;
}


/*------------------------------ */
/* MENU MOBILE */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        height: auto;
    }
}


/* PALAVRA PORTFÓLIO*/
@media (max-width: 480px) {
    header .logo {
        font-size: 10px;
        margin-top: 10px;
    }
}

/* MENU MOBILE */
@media (max-width: 480px) {
    header .menu {
        font-size: 15px;
        height: auto;
        gap: 30px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header .menu p a{
        font-size: 12px;
    }
}


/* --------------------------------------- */

.banner1 {
    height: 500px;
    padding-top: 80px;
    background: rgb(32,36,45);
    background: linear-gradient(180deg, rgba(32,36,45,1) 0%, rgba(50,56,70,1) 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'cedora';
}


.banner1 .textos{
    width: 50%;
    padding: 10px;
}

.banner1 .textos h1{
    color: white;
    width: 50%;
}

.banner1 .textos span{
    color: #01EEFF;
    font-weight: bold;
}


/* TEXTO - PARÁGRAFO*/
.banner1 .textos p{
    color: rgb(221, 216, 216);
    padding: 5px;
    width: 70%;
    font-size: 18px;
}

/* FOTO */
.banner1 .foto{
    border: 1px solid transparent;
    cursor: pointer; 
    transition: transform 1.3s ease;
}

.banner1 .foto:hover{
    border: 1px solid transparent;
    transform: scaleX(-1) scale(1.1);
}


/* ---- */

/* LINK BAIXAR CURRICULO*/
.banner1 a{
    text-decoration: none;
}


/* LINK BAIXAR CURRICULO*/
.banner1 .textos .baixar{
    color: #20242D;
    background-color: #01EEFF;
    width: 150px;
    text-align: center;
    margin: 20px 0px;
    border-radius: 50px;
    transition: background-color 0.6s ease;
}


.banner1 .textos .baixar:hover{
    background-color: white;
    color: #20242D;
    
}

/* ------------------------------------*/

/* BANNER 1 - MOBILE */
@media (max-width: 480px) {
    .banner1 {
        flex-direction: column-reverse;
        height: auto;
        width: auto;
        overflow: hidden;
    }
}


/* NOME */
@media (max-width: 480px) {
    .banner1 h1{
        font-size: 22px;
        padding: 5px;
        flex-direction: column;
        margin: 0 auto;
        width: auto;
    }
}

/* TEXTO */
@media (max-width: 480px) {
    .banner1 .textos p{
        margin: 0 auto;
        width: 300px;
        font-size: 15px;
    }
}

/* BOTÃO BAIXAR */
@media (max-width: 480px) {
    .banner1 .textos .baixar{
        margin: 0 auto;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}


@media (max-width: 480px) {
    .banner1 .textos{
        width: 370px;
        text-align: center;        
    }
}

/* CONTAINER DA IMAGEM*/
@media (max-width: 480px) {
    .banner1 .foto{
        padding-top: 30px;
    }
}

/* IMAGEM */
@media (max-width: 480px) {
    .banner1 .foto img{
        width: 150px;
    }
}


/* ------------------------------------*/

.banner2 {
    height: 500px;
    background: rgb(61,65,75);
    background: linear-gradient(360deg, rgba(61,65,75,1) 0%, rgba(32,36,45,1) 100%);
    font-family: 'cedora';
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.banner2 .texto{
    width: 70%;
}

.banner2 .texto p{
    margin: 0 auto;
    background-color: white;
    font-size: 18px;
    padding: 15px;
    color: rgb(58, 57, 57);

}

.banner2 .texto h2{
    width: 100px;
    background-color: #01EEFF;
    font-size: 20px;
    padding: 5px;
    color: rgb(61,65,75);
    text-align: center;
    color: black;
}

/* ------------------------------------*/

/* BOTÃO BAIXAR */
@media (max-width: 480px) {
    .banner2{
        margin: 0 auto;
        height: auto;
        padding: 50px 0;
    }


}


